body {
	margin: 30px;
	font-family: Georgia, serif;
	color: #332200;
	text-align: left;
	background-image: url('parchemin4.jpg');
  background-size: cover;
  background-attachment: scroll;
}

h1 {
	text-align: center;
	color: #660033;
}

h3 {
	color: #000066;
}

h4 {
	color: #006666;
}

td {
  table-layout: auto;
  vertical-align: middle;
  border-style: solid;
  border-width:2px;
}

table {
	color: #800000;
  table-layout: auto;
  vertical-align: middle;
  border-style: solid;
  margin: 50px;
  border-width:2px;
}
